.searchbar-input {
    height: 30px;
    width: 200px;
    font-size: 16px;
}

.search-list {
    position: absolute;
    background-color: white;
    border: 1px solid black;
}

.search-items {
    padding: 3%;
    width: 150px;
}
